<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/update/{{employee.id}}">
{%csrf_token %}
    <table>
        <tr>
            <td> <input name="eid" required value="{{employee.eid}}"></td>
        </tr>
         <tr>
            <td> <input name="ename" required value="{{employee.ename}}"></td>
        </tr>
         <tr>
            <td> <input name="eemail" required value="{{employee.eemail}}"></td>
        </tr>
         <tr>
            <td> <input name="econtact" required value="{{employee.econtact}}"></td>
        </tr>

    </table>
      <button type="submit">
            Update
        </button>
</form>
</body>
</html>